<%- include("header") -%>

<h1>This is just for testing purpose</h1>

<p>jkffhgjyf  utyfguhi; hytfughij  utyuilkufgyiofu utyu uidufyig dtfgukilho; dhfjgkhl sdtfhygjukhl ydfugihj </p>

<%- include("footer") -%>
